<div>
  <!-- Header -->
  <div style="text-align:center">
    <h1 class="header">Invoice Parser</h1>
  </div>
  <!-- Invoice Parser -->
  <div>
    <user-story1></user-story1>
  </div>
</div>
<div class="row">
  <div class="col-lg-4 col-md-4 "></div>
  <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
    <div class='footer'>
      <hr class='horizon'>
      <p class='created-by'>Crafted by Nikhil Rustagi</p>
      <p class='created-by'>View my portfolio        
        <a href='https://nikhilrstg18.github.io/nikhil-rustagi/'>
          <i class='fas fa-at icon'></i>
          <strong>nikhil-rustagi
          </strong>
        </a>
      </p>
    </div>
  </div>
  <div class="col-lg-4 col-md-4 "></div>
</div>
